<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Message broker section-->
    <add key="HostName" value="localhost" />
    <add key="Port" value="5672" />
    <add key="UserName" value="guest" />
    <add key="Password" value="guest" />

    <!--Redis section-->
    <add key="HostName" value="localhost" />
    <add key="Port" value="6379" />

    <!--Wiretap settings-->
    <add key="EnableWiretap" value="false" />
    
    <!--Parking information URLs-->
    <add key="ParkingInformationURL" value="http://psuparkingservice.fenris.ucn.dk/service" />
    <add key="ParkingAdURL" value="http://psuaddservice.fenris.ucn.dk/" />
  </appSettings>
</configuration>


